.education{
    text-align: center;
}
.footer{
    margin-left: 235px;
}
.educationBody{
    width: auto;
    height: 250px;
    margin-top: 20px;
    display: block;
    background-color: lightgray;  
}
.sideNavBody{
    width: auto;
    height: 450px;
    margin-top: 20px;
    display: block;
    background-color: lightgray;
}
